# Django secret key (замени на свой реальный ключ)
SECRET_KEY=django-insecure-your-secret-key-here
# Debug mode (True для разработки, False для продакшена)
DEBUG=True

# Настройки подключения к PostgreSQL
NAME=mydatabase
USER=mydatabaseuser
PASSWORD=mypassword
HOST=localhost
PORT=5432

TELEGRAM_TOKEN=xxx

REDIS_URL=redis://localhost:6379

# URL-адрес брокера сообщений
CELERY_BROKER_URL=redis://localhost:6379/0
# URL-адрес брокера результатов
CELERY_RESULT_BACKEND=redis://localhost:6379/0
